params {
    fastq = data/*_{R1,R2}.fastq.gz // Paired end raw reads for fastqc operation
    genomeIndex = "Genome/taxus-genome"        // HISAT2 index prefix
    annotation = "Genome/taxus-genes.gtf"     // genome annotaion file
    ourdir = "results"                        // will create a output directory to store the outputs

}

process {
    executor = 'local'
    cpus = 4
    memory = '8 GB'
}
